<section class="section">
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1dQbEaPguM8vXuQpqM6VHZi_5OySdKzp8" width="1280" height="960"></iframe>
</section>
